.hidden{
    display: none;
}

#utku_div{
    margin: 20px;
    background-color: coral;
    color: cornsilk;
    text-align: center;
}


#nat_div {
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: blue;
    color: cadetblue;
    text-align: center;
}



.KJ_background{
  background-color: aqua;}

#isaac_div{
    margin: 20px;
    background-color: coral;
    color: cornsilk;
    text-align: center;
}

