.hidden{
    display: none;
}

#utku_div{
    margin: 20px;
    background-color: coral;
    color: cornsilk;
    text-align: center;
}

#isaac_div{
    margin: 20px;
    background-color: lavender;
    color: olivedrab;
    text-align: center;
}